/src/Blitz.Avalonia.Controls/bin
/src/Blitz.Avalonia.Controls/obj
/src/Blitz.Configuration/obj
/src/Blitz/bin
/src/Blitz/obj
/src/Blitz.Configuration/bin
/src/.idea
.vs/
src/BlitzSearch.sln.DotSettings.user
/src/Blitz.AvaloniaEdit/bin
/src/Blitz.AvaloniaEdit/obj
/src/Blitz.Files.Tests/bin
/src/Blitz.Files.Tests/obj
/src/Blitz.Goto.ConsoleAppDemo/bin
/src/Blitz.Goto.ConsoleAppDemo/obj
/src/Blitz.Goto.Demo/bin
/src/Blitz.Goto.Demo/obj
/src/Blitz.Goto/bin
/src/Blitz.Goto/obj
/src/Blitz.Interfacing/bin
/src/Blitz.Interfacing/obj
/src/Blitz.Search.Tests/bin
/src/Blitz.Search.Tests/obj/Debug
/src/Blitz.Search.Tests/obj
/src/Blitz.Search/bin
/src/Blitz.Search/obj
/src/BlitzEdit/.idea
/src/BlitzEdit/bin
/src/BlitzEdit/obj
